@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.right-ellipse-blur {
  position: absolute;
  transform: matrix(-0.53, -0.85, 0.85, -0.53, 0, 0);
  opacity: 1;
  filter: blur(50px);
  width: 1057px;
  height: 1103px;
  top: 730px;
  left: 961px;
}
